@{
    ViewBag.Title = "密码修改";
    Layout = "_Company";
}

<div class="container">
    <h2>修改成功</h2>
    <p>将在 <span id="page_div" class="text-danger">3秒</span> 后自动跳转</p>
</div>

<script>
    var num = 2; //倒计时的秒数
    var id = window.setInterval('doUpdate()', 1000);
    function doUpdate() {
        document.getElementById('page_div').innerHTML = num + '秒';
        if (num == 0) {
            window.clearInterval(id);
            window.location = "/Recruiter/PersonalInfo";
        }
        num--;
    }
</script>
