@model UserInfoViewModel
@{
    ViewBag.Title = "基本信息";
    Layout = "_Company";
}
<!-- 修改邮箱模态框（Modal） -->
<div class="modal fade" id="changeEmailModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable mt-sm-5">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">修改邮箱</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body form-group row">
                <label class="col-sm-2 col-form-label" asp-for="Email"></label>
                <div class="col-sm-10">
                    <input class="form-control" id="changeEmailAddress" asp-for="Email" placeholder="输入修改后的邮箱"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="ChangeEmail()">修改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- 修改手机模态框（Modal） -->
<div class="modal fade" id="changePhoneNumberModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable mt-sm-5">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">修改手机</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body form-group row">
                <label class="col-sm-2 col-form-label" asp-for="PhoneNumber"></label>
                <div class="col-sm-10">
                    <input class="form-control" id="changePhoneNumber" asp-for="PhoneNumber" placeholder="输入修改后的手机"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="ChangePhoneNumber()">修改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="p-3 tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
    <div class="px-3 pb-3 border-bottom">
        <div style="width: 100%;">
            <div class="mb-2 font-weight-bold fs-4">您的基础信息</div>
            <div class="row pl-3">
                <label class="col-sm-2 col-form-label" asp-for="UserName"></label>
                <div class="col-4">
                    <label class="col-form-label">@Model.UserName</label>
                </div>
            </div>
            <div class="row pl-3">
                <label class="col-sm-2 col-form-label" asp-for="Email"></label>
                <div class="col-4">
                    <label class="col-form-label">@Model.Email</label>
                </div>
                <div class="col-3">
                    <a data-toggle="modal" data-target="#changeEmailModal">修改邮箱</a>
                </div>
            </div>
            <div class="row pl-3">
                <label class="col-sm-2 col-form-label" asp-for="PhoneNumber"></label>
                <div class="col-4">
                    <label class="col-form-label">@Model.PhoneNumber</label>
                </div>
                <div class="col-3">
                    <a data-toggle="modal" data-target="#changePhoneNumberModal">修改手机</a>
                </div>
            </div>
        </div>
    </div>
    <div class="p-3">
        <div style="width: 100%;">
            <div class="mb-2 font-weight-bold fs-4">您的安全状态</div>
            <div class="row pl-3">
                <div class="col-2">安全等级</div>
                <div class="col-4">高</div>
            </div>
        </div>
    </div>
</div>