<div class="text-center py-4 ">
    <div class="links">
        <a href="">关于我们</a>
        |
        <a href="">联系我们</a>
        |
        <a href="http://www.zjsru.edu.cn/">友情链接</a>

    </div>
    <div class="my-2">
        Copyright&nbsp;©&nbsp;2020&nbsp;&nbsp;食品在线销售系统&nbsp;版权所有
    </div>
</div>