@model GoodInformation

<div class="goods-item goods-item--nomargin" style="padding: 15px;">
    <div class="goods-item__cover" style="height: 160px;">
        <img class="goods-item__img" src="@Model.ImageUrl.Split(' ')[0]" style="height: 160px; width: 160px;">
    </div>
    <div class="goods-item__info" style="text-align: center;">
        <div class="goods-item__title goods-item__title--twoline" style="margin-bottom: 5px; text-align: center;">@Model.Name</div>
        <div class="goods-item__content" style="text-align: center;">
            <div class="goods-item__price">￥@Model.Price</div>
        </div>
    </div>
</div>
