<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-xl">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarsExample07XL">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Job">职位</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Company">公司</a>
                </li>
            </ul>
            <ul class="navbar-nav justify-content-end">
                @*@User.Claims.Any(c => c.Type == "Company")*@
                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Student" asp-action="SignUp">我要找工作</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Company" asp-action="SignUp">我要招聘</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="SignIn">登录</a>
                    </li>
                }
                else
                {
                    @if (User.Claims.Any(i => i.Type == "Identity" && i.Value == "Company"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Company" asp-action="HireJobManage">企业后台</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Company" asp-action="HireJobPublish">发布岗位</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown07XL" data-toggle="dropdown" aria-expanded="false">@User.Identity.Name</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown07XL">
                                <a class="dropdown-item" asp-controller="Order" asp-action="Display">个人信息</a>
                                <a class="dropdown-item" asp-controller="Order" asp-action="Display">当前职位</a>
                                <a class="dropdown-item" asp-controller="Mine" asp-action="Foot">密码修改</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="Logout">登出</a>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</nav>