@{
    ViewBag.Title = "Access denied";
}

<header class="container">
    <h2 class="text-danger">@ViewBag.Title</h2>
    <p class="text-danger">你没有权限访问这个资源。</p>
    <p>请 <a asp-controller="User" asp-action="SignIn">登录</a> 具有权限的用户后再尝试。</p>
</header>