@model ResumeViewModel
@{
    ViewBag.Title = "简历添加";
    Layout = "_Student";
}

<form asp-controller="Hire" asp-action="HireJobPublish" method="post">
    <input type="hidden" asp-for="StudentId" value="@User.FindFirst("StudentId").Value" />

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="Title"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="Title" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="ForJobCharacterId"></label>
        <div class="col-sm-10">
            <select class="form-control" asp-for="ForJobCharacterId" asp-items="ViewBag.JobCharacters">
                <option value="">-- 选择招聘类型 --</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="ForJobKindId"></label>
        <div class="col-sm-10">
            <select class="form-control" asp-for="ForJobKindId" asp-items="ViewBag.JobKinds">
                <option value="">-- 选择岗位 --</option>
            </select>
        </div>
    </div>



    @*<div class="form-group row">
            <label class="col-sm-2 col-form-label" asp-for="ForJobKindId"></label>
            <div class="col-sm-5">
                <select class="form-control" id="FirstKind" onchange="PopulateSecondKinds()" asp-for="ForJobFirstKindId" asp-items="ViewBag.JobFirstKinds">
                    <option value="">-- 选择岗位大类 --</option>
                </select>
            </div>
            <div class="col-sm-5">
                <select class="form-control" id="SecondKind" asp-for="ForJobKindId" asp-items="ViewBag.JobKinds">
                    <option value="">-- 选择岗位类别 --</option>
                </select>
            </div>
        </div>*@

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="ForJobPayId"></label>
        <div class="col-sm-10">
            <select class="form-control" asp-for="ForJobPayId" asp-items="ViewBag.JobPays">
                <option value="">-- 选择薪水 --</option>
            </select>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="ForJobAddressId"></label>
        <div class="col-sm-3">
            <select class="form-control" id="ProvinceId" onchange="PopulateCities()" asp-for="ProvinceId" asp-items="ViewBag.Provinces">
                <option value="">-- 选择省 --</option>
            </select>
        </div>
        <div class="col-sm-3">
            <select class="form-control" id="CityId" onchange="PopulateDistricts()" asp-for="CityId" asp-items="ViewBag.Cities">
                <option value="">-- 选择市 --</option>
            </select>
        </div>
        <div class="col-sm-4">
            <select class="form-control" id="LocationId" asp-for="ForJobAddressId" asp-items="ViewBag.Districts">
                <option value="">-- 选择区 --</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="Certificate"></label>
        <div class="col-sm-10">
            <textarea class="form-control" asp-for="Certificate" rows="5"></textarea>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="WorkExperience"></label>
        <div class="col-sm-10">
            <textarea class="form-control" asp-for="WorkExperience" rows="10"></textarea>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="SelfEvaluation"></label>
        <div class="col-sm-10">
            <textarea class="form-control" asp-for="SelfEvaluation" rows="10"></textarea>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="State"></label>
        <div class="col-sm-10">
            <intput class="form-control" asp-for="State" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="Visible"></label>
        <div class="col-sm-10">
            <intput class="form-control" asp-for="Visible" />
        </div>
    </div>

    <div class="form-group row justify-content-end">
        <button type="submit" class="btn btn-primary px-4">添加</button>
    </div>
</form>