@model JobViewModel
@{
    ViewBag.Title = "岗位发布";
    Layout = "_Company";
}

<form asp-controller="Hire" asp-action="HireJobPublish" method="post">
    <input type="hidden" asp-for="CompanyId" value="@User.FindFirst("CompanyId").Value" />

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="Name"></label>
        <div class="col-sm-10">
            <input class="form-control"  asp-for="Name" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="JobCharacterId"></label>
        <div class="col-sm-10">
            <select class="form-control" asp-for="JobCharacterId" asp-items="ViewBag.JobCharacters">
                <option value="">-- 选择招聘类型 --</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="JobKindId"></label>
        <div class="col-sm-5">
            <select class="form-control" id="FirstKind" onchange="PopulateSecondKinds()" asp-for="JobFirstKindId" asp-items="ViewBag.JobFirstKinds">
                <option value="">-- 选择岗位大类 --</option>
            </select>
        </div>
        <div class="col-sm-5">
            <select class="form-control" id="SecondKind" asp-for="JobKindId" asp-items="ViewBag.JobKinds">
                <option value="">-- 选择岗位类别 --</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="JobPayId"></label>
        <div class="col-sm-10">
            <select class="form-control" asp-for="JobPayId" asp-items="ViewBag.JobPays">
                <option value="">-- 选择薪水 --</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="JobStatusId"></label>
        <div class="col-sm-10">
            <select class="form-control" asp-for="JobStatusId" asp-items="ViewBag.JobStatuses">
                <option value="">-- 选择招聘状态 --</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="LocationId"></label>
        <div class="col-sm-3">
            <select class="form-control" id="ProvinceId" onchange="PopulateCities()" asp-for="ProvinceId" asp-items="ViewBag.Provinces">
                <option value="">-- 选择省 --</option>
            </select>
        </div>
        <div class="col-sm-3">
            <select class="form-control" id="CityId" onchange="PopulateDistricts()"  asp-for="CityId" asp-items="ViewBag.Cities">
                <option value="">-- 选择市 --</option>
            </select>
        </div>
        <div class="col-sm-4">
            <select class="form-control" id="LocationId" asp-for="LocationId" asp-items="ViewBag.Districts">
                <option value="">-- 选择区 --</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="DegreeId"></label>
        <div class="col-sm-10">
            <select class="form-control" asp-for="DegreeId" asp-items="ViewBag.Degrees">
                <option value="">-- 选择学历 --</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="RecruitNumber"></label>
        <div class="col-sm-10">
            <input class="form-control" type ="number" asp-for="RecruitNumber" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="Description"></label>
        <div class="col-sm-10">
            <textarea class="form-control" asp-for="Description" rows="10"></textarea>
        </div>
    </div>

    <div class="form-group row justify-content-end">
        <button type="submit" class="btn btn-primary px-4">添加</button>
    </div>
</form>